<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
    <h3><%= data.title %></h3><br>

    <div class="row">
        <div class="col-sm-4">
            <p><%= data.description %></p>

        </div>
        <div class="col-sm-4">
            <p><%= data.description %></p>
            <img src="/images/<%= data.image %>" class="img" alt="">
        </div>
        <div class="col-sm-4">
            <p><%= data.description %></p>
        </div>
    </div>

    <div class="row">

        <p><%= data.id %></p>

    </div>
</div>

</body>
<% include partials/script %>
</html>